h1{
    color: darkolivegreen;
    background-color: antiquewhite;
    text-align: center;
}
p{
    color: darkolivegreen;
    background-color: antiquewhite;
}
#BahagiaSelalu {
    color: antiquewhite;
    background-color: darkgreen;
}
.warnasatu{
    color: coral;
    background-color: bisque;
}
.warnadua{
    color: crimson;
    background-color: antiquewhite;
}
.warnatiga{
    color: darkgoldenrod;
    background-color: black;
}
#kotak-satu {
    height: 100px;
    width: 100px;
    background-color: burlywood;
}
#kotak-dua {
    height: 100px;
    width: 400px;
    background-color: brown;
} 
#kotak-tiga {
    height: 100px;
    width: 600px;
    background-color: chartreuse;
}
#bikinbg {
    width: 500px;
    height: 200px;
    background-color: burlywood;
    color: ghostwhite;
    background-image: url("../css/images/senja\ wdd.jpg");
    background-size: cover;
    border-radius: 20px;
  
}
#bikinbg h2{
    text-align: center;
    padding-top: 80px;
}
#bikinpattern h2{
    width: 500px;
    height: 200px;
    background-color: burlywood;
    color: ghostwhite;
    background-image: url("../css/images/pattern\ wdd.jpg");
    border-radius: 20px;
    background-repeat:repeat-x;
}
#bikin pattern h2{
    text-align: center;
    padding-top: 80px;
}    

